## Core code of python :

### What is python :
- `Python` is an interpreted, high-level programming language used in web, data science, machine learning, and automation.
-  Its syntax is clean and readable.

In [16]:
# Printing text
print("Majid Hussain is learning Python")

Majid Hussain is learning Python

In [17]:
# Type casting
x = int(3.8)   # convert float to int
print(x)

3

In [15]:
#Variables and data types
age = 24           # integer
score = 95.5       # float
name = "Majid"     # string
print(name, age, score)

Majid 24 95.5

In [3]:
# print all types of datatypes in one print line we can do it easily
print(3,4.5,True, "Amir Khan", sep="\n")

3
4.5
True
Amir Khan

In [36]:
print("Hello", end="\\")
print("World")

Hello\World

In [3]:
# by using new line function 
print("Hello", end="_")
print("World")

Hello_World

In [4]:
# Stylish printing
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [37]:
# I can also use sum with iterables
numbers = [124,6,3,53.32, 65, 53, 25]
print(sum(numbers))

329.32

### Operators:
- Operators are symbols that perform operations on variables and values.

In [4]:
a = 12
b = 14
# Arithmetic
a + b
a - b
a * b
a / b

# Comparison
a > b
a == b

# Logical
print(a and b)
print(a or b)
# print(a not b)

14
12

In [24]:
# Arithematic operator:
"""
Arithmetic operators are used to perform mathematical operations on numbers (addition, subtraction, multiplication, division, etc.).
"""
a = 10
b = 3
print(a + b, a - b, a * b, a / b)

13 7 30 3.3333333333333335

In [33]:
# logical operator 
"""
Logical operators combine conditional statements and return True or False.
"""
print(a > 5 and b < 5)
print('Majid' in ['Majid','Amjad'])

False
True

In [30]:
a = 5
b = 10

# and
print(a > 0 and b > 0) 

# or
print(a > 10 or b > 0)  

# not
print(not(a > 10))  

# Combining
print((a < 10) and (b < 5))

True
True
True
False

In [34]:
# comparison operator
"""
Comparison operators compare two values and return True or False.
"""
x = 10
y = 20

# Equal to
print(x == y)  

# Not equal to
print(x != y) 

#  Greater than
print(x > y)   

# Less than or equal to
print(x <= y)

False
True
False
True

### identity operator:
- Identity operators check whether two variables point to the same object in memory, not just equal values.

In [32]:
x = [1,2,3]
y = x
z = [1,2,3]

# is (same object)
print(x is y) 

# is not (different object)
print(x is not z)

#  Value equality vs identity
print(x == z) 
print(x is z)  

# With immutable types
a = 10
b = 10
print(a is b)

True
True
True
False
True

### membership operators:
- Membership operators check whether a value exists in a sequence (like list, tuple, string, dict).

In [35]:
friends = ['Majid Hussain','Amjad Hussain','Malik Usman']

#  in (string in list)
print('Majid Hussain' in friends)  

# not in (string not in list)
print('Tahir Hussain' not in friends)  

# in (character in string)
print('M' in 'Majid')  

# not in (character not in string)
print('z' not in 'Majid')

True
True
True
True

### Control flow:
- Control flow decides which block of code runs (if/else) and how many times (loops).

In [13]:
#If-Else
marks = 85
if marks >= 90:
    print("Grade A")
elif marks >= 80:
    print("Grade B")
else:
    print("Grade C")

Grade B

In [12]:
# While loop
i = 0
while i < 3:
    print("Loop:", i)
    i += 1

Loop: 0
Loop: 1
Loop: 2

In [20]:
# For loop
friends = ['Amjad Hussain','Amir Hussain']
for friend in friends:
    print(friend)

Amjad Hussain
Amir Hussain

In [21]:
my_list = [1,2,3,4,4,5,6]
for i in my_list:
    print(i)

1
2
3
4
4
5
6

In [22]:
colors = ['white', 'black', 'red', 'blue', 'yellow', 'cyan', 'orange']
for i in colors:
    print(i)

white
black
red
blue
yellow
cyan
orange

In [5]:
a=b=c = 3
print(a,b,c)

3 3 3