# Working with String from Basics to more advance :

### What is String in python :
- A `string` is a sequence of characters enclosed in quotes (single ' ', double " ", or triple quotes).
- `Strings` can contain letters, numbers, symbols, and spaces, and are used to represent textual data in Python.

  ### Where Strings Are Widely Used in Data Science:
  - **1. Data Cleaning & Preprocessing:**
- Handling text-based columns (like names, addresses, product IDs).
- **Example:** trimming spaces, converting to lowercase, replacing words.

- **2.Categorical Data Handling:**
- `Labels`, `categories`, or `classes` are often stored as strings before being encoded into numbers for `machine learning models`.

- **3. Text Analytics / NLP:**
- Working with unstructured text data (tweets, reviews, articles) requires string manipulation, tokenization, and cleaning.

- **4. File Paths & API Calls:**
- Reading file paths, URLs, or JSON keys, which are typically strings.

- **5. Reporting & Visualization:**
- Titles, labels, annotations in plots or dashboards are strings.

In [9]:
name = "Majid Hussain"
msg = 'Welcome to Data Analytics'
multi_line = """This is multi-line
string that I can write documentation of any code 
and for readable actually what's code addressing"""
# print(name)
# print(msg)
print(multi_line)

This is multi-line
string that I can write documentation of any code
and for readable actually what's code addressing

In [4]:
first = "Data"
second = "Science"
print(first + " " + second)  # Data Science

Data Science

In [11]:
 # concatenate of string
str1="Majid"
str2="Hussain"
final_string=str1+str2
print(final_string)

MajidHussain

In [6]:
# Because string is immutable so that's why it gives an error if we want to modify string we create new string 
text = 'kaleel'
text[0] = 'j'
text

TypeError: 'str' object does not support item assignment

In [8]:
# here we create new str variable then we modify but not in original
text = 'kaleel'
text = 'j' + text[1:]
text

'jaleel'

In [12]:
#find length of string
str="RindBaloch"
print(len(str))

10

# operations on string:
- 1. Arithmatic operations
- 2. logic operation
- 3. Relation operator
- 4. opps operation
- 5. membership operations

In [1]:
 #  Arithematic operation in string 
print("amir khan" + " and "+ "amjad khan")

print("khan"*5)

amir khan and amjad khan
khankhankhankhankhan

In [2]:
"hello" and "world"
# here 'and' operator check whether first string is empty or not if first string is not empty then go to next if next is not empty then and operation print of second

'world'

In [3]:
"hello" or "world"
# Here comparison of OR operator which means first compiler go to first comparison word if first is non empty then print out this first one

'hello'

# Functions in String :
- count ()     
- find()           
- index()          
- startswith()     
- endswith()       
- isalnum()       
- isalpha()        
- isdigit()        
- isidentifier()

In [6]:
str= "Hello World World"
str.count("World")

# By using of count function we find specific worlds or specific digits that in paragraph or article how mach time repeat

2

In [33]:
str.find("orld")

# In find function we easily find world or digits that on which index is placed

7

In [34]:
str.index("l")

# this is similar to find but here is one more feature that if any world or digits is not found from given  paragrph it would give an error axcept of give -

2

In [3]:
str = "Amir Khan"
str.endswith("n")

# this endswith function give an output if given world are exists in the given  paragraph . If not exists it will give error

True

In [5]:
str.startswith("t")
# This is also give an output true if started digits are exists to given digits

False

In [1]:
# most common String function that tells us endswith value is given or not output in True or False
str= "My name is majid hussain"
print(str.endswith("sain"))

True

In [2]:
str = "majid hussain"
data = str.startswith("majid")
print(data)

print(str.count("s"))
print(str.index("h"))
print(str.isalpha())

True
2
6
False

# Slicing in string:

In [27]:
# indexing in string
# Find indexing using string 
str= "Majid Hussain"
ch = str[0]
print(ch)

M

In [30]:
# Using slicing string for print specific words or line from paragraph
str= "Majid Hussain"
print(str[:5])  
print(str[6:])
print(str[-5:]) 
print(str[1:5])

Majid
Hussain
ssain
ajid

# New method of Format string :

In [6]:
# FORMAT STRING NEW METHOD:   
name="Khan"
gender = "male"
# print(" Hi my name is {1} and my gender is {0} ".format(gender, name))        #1st method

# There are three ways to print format string 
print(" Hi my name is {} and my gender is {} ".format(name, gender))          # 2nd method 

# print(f"Hi my name is {name} and my gender is {gender}")                        # 3rd method

 Hi my name is Khan and my gender is male

In [38]:

print("majidkhan3939".isalnum())

# Here alphanumeric means if all the given text based on characters strings and only numbers but if any special character included it will give error

True

In [7]:
print("majidkha".isalpha())

# Here give an output false which means that the given text is not only based on alphabit but also incuded numerical values

True

In [40]:
print("3939".isdigit())

# Output give True that means isdigit only understand digit numerical but if we only one character add then it will give output error

True

In [41]:
# print("majidkhan3939".isidentifier())
print("majid_khan3939".isidentifier())
# print("majid-khan3939".isalnum())     # this will give an error because here we used - special char means identifer have some rule 

# Here i used some identifier that some of them are valid identifier and some are not valid then compiler give an error

True

In [42]:
# Loops using in string
for i in "Hello ":
    print(i)

H
e
l
l
o

In [43]:
for i in "HelloK":
    print("World")
#  It means jitna character uppar for loop mein hon ge utna time ye print wali statement print ho gi

World
World
World
World
World
World

In [44]:
# Membership Operator
"M" in "Majid"

True

In [11]:
"i" not in "majid".lower()
# "s" not in "majid"

False

# Most popular Functions in string :
- len/max/min/sorted
- capitalize / title/ upper / lower / swapecase

In [8]:
# Common function applying on string like
# 1.len     2.max       3.min      4.sorted 
str = "Majid_Hussain"
# print(max(str))
# Here using of maximum function it will give the output on the base of lexiographycally dictionary of oxfard
 
print(min(str))
# Here H is that minimum value because in oxfard dictionary capital digits is smaller than small digits abc > ABC

H

In [9]:
# this will sort according to lexiography dictionary :
sorted(str)

['H', 'M', '_', 'a', 'a', 'd', 'i', 'i', 'j', 'n', 's', 's', 'u']

In [48]:
sorted(str , reverse=True)

['u', 's', 's', 'n', 'j', 'i', 'i', 'd', 'a', 'a', '_', 'M', 'H']

In [49]:
# Some others function like 
# 1.Capitalize     2.tittle   3.uppar    4.lower    5. Swapecase
str.capitalize()
# It gives value first value of starting like capital even if you wrote wrong it will correct automatically by using capitalize function

'Majid_hussain'

In [50]:
str.upper()
# This function give output all capital characters even if you written all small

'MAJID_HUSSAIN'

In [51]:
str.lower()
# this function give output all characters in lower case even if you written randomaly

'majid_hussain'

In [52]:
str.title()
# this functon give an output like all first character of every world capital

'Majid_Hussain'

In [53]:
str.swapcase()
# this fun give an output if written all capital it will gives all small but if you written randomaly capital and small mix then it will give small to capital and capital to samll

'mAJID_hUSSAIN'

# Advance level of Functions in string :
- split() / join() / replace() / strip()

In [54]:
# Using of 1.split and 2.join  3.Replace   4. Strip function in string
print("Hai amir khan kiya hall hai" .split())
# Here is used of split functin  which means it sparate the given text and any given value convert in list

['Hai', 'amir', 'khan', 'kiya', 'hall', 'hai']

In [9]:
"  ".join(['Hai', 'amir', 'khan', 'kiya', 'hall', 'hai'])

# Here using of join it again convert the original form that mean it convert the split form into original form

'Hai  amir  khan  kiya  hall  hai'

In [12]:
str = "Hai amir khan ! What are you doing now ! hee what's up "
result = str.replace("amir", "amjad")
print(result)

Hai amjad khan ! What are you doing now ! hee what's up

In [10]:
str = "           Hai amir khan ! What are you doing now ! hee what's up    "
str.strip()
# print(str)
#  this strip() funciton remove blank space bydefault left and right but if you want specific side there have lstrip() and rstrip()

"Hai amir khan ! What are you doing now ! hee what's up"

In [13]:
# removing unmeaningful characters, symbols which is most useful in NLP
from collections import Counter
import re
str = "           Hai amir khan ! What are you doing now ! hee what's up    "
clean = re.sub(r'[^\w\s]' , ' ' , str)
result = clean.lower().strip()
counter = Counter(result.split())

print(result)
print(counter)

hai amir khan   what are you doing now   hee what s up
Counter({'what': 2, 'hai': 1, 'amir': 1, 'khan': 1, 'are': 1, 'you': 1, 'doing': 1, 'now': 1, 'hee': 1, 's': 1, 'up': 1})

In [58]:
str = "    Hello ! world   "
str.strip()

# this function bydafault remove both side

    Hello ! world

In [59]:
str.lstrip()
print(str)

    Hello ! world

In [14]:
raw_text = " Hey My name Is Majid !!  "
clean_text = raw_text.strip().lower().replace("!!", " ")
clean_text

'hey my name is majid  '

In [15]:
raw_text = " Hey My name Is Majid !!  "
clean_text = raw_text.strip().capitalize().replace("!!", "")
clean_text

'Hey my name is majid '

In [16]:
# Extracting file name for ML dataset 
path = "/home/user/data/train.csv"
filename = path.split("/")[-1]
print(filename)

train.csv

In [17]:
# Tokenizing text for NLP 
sentence = "I love machine learning"
tokens = sentence.split()
print(tokens)  # Output: ['I', 'love', 'machine', 'learning']

['I', 'love', 'machine', 'learning']

In [19]:
# take one string and reverse them without using slicing

text = "Hello"
reversed_text = "".join(reversed(text))
print(reversed_text)

olleH

In [20]:
# by using of slicing to convert inverse of text

text = "Hello"
print(text[::-1])

olleH

In [22]:
# Count vowels in any text. 1st method
counter = 0
text = "Hey my name is majid hussain"
vowels = "aeiou"
for txt in text.lower():
    if txt in vowels:
        counter+=1
    else:
        continue

print(counter)

9

In [21]:
# count vowels in given strings, list
text = "Hello majid hussian KiYa Hall"
vowels = sum(1 for char in text.lower() if char in 'aeiou')
print(vowels)

10

In [23]:
# Convert any name you give into reverse

user_name = input("Enter your name :")
reversed_text = ""
for char in user_name:
    reversed_text = char + reversed_text
print(reversed_text)

Enter your name : machine learning

gninrael enihcam

In [25]:
# this method accroding to join and reversed method

text = "Becoming a machine learning engineer"
reversed_text = "".join(reversed(text))
print(text)
print(reversed_text)

Becoming a machine learning engineer
reenigne gninrael enihcam a gnimoceB

In [26]:
# 3rd method and fast method 
import time

user_name = input("Enter your name: ")

start_time = time.time()
reversed_text = user_name[::-1]
end_time = time.time()

print("Reversed name:", reversed_text)
print(f"Time taken: {end_time - start_time} seconds")

Enter your name:  Becoming a machine learning engineer

Reversed name:  reenigne gninrael enihcam a gnimoceB
Time taken: 0.0 seconds

# Exercises:
# Q1.

In [5]:
# Q1. find the length of string without using len() function 
str = input("Enter string ")
counter = 0
for i in str:
    counter +=1
print("The length of string is :", counter)

Enter string  majid hussain rind

The length of string is : 18

In [13]:
# Second method to find length with len function
str = input("Enter any string :")
string_length = len(str)
print("The length of user input is :", string_length )

Enter any string : Majid Hussain

The length of user input is : 13

# Q2.

In [14]:
#Q2. Extract the username from the given email 
# Example Em is majidhussain38rind@gmail.com
# then the username is majidhussain38rind
user_email = input("Enter the user email")
position = user_email.index("@")
print(user_email[0 : position])

Enter the user email majidhussain3897@gmail.com

majidhussain3897

# Q3.

In [21]:
# Q3. count the frequency of a particular string in a provided data
# Example " Hai my name is majid hussain ! what's your name" here the frequency of 'h' is 3

str = input("Enter any string :")
term = input("What would you like to find : ")
counter = 0
for i in str:
    if i== term: 
        counter +=1
print(f"{term} is repeated {counter} time ")

Enter any string : majid hussain hussain hussain hussain
What would you like to find :  s

s is repeated 8 time

In [25]:
num = [1,2,3,4,5,5,4,2]
find = 4
counter = 0
for n in num:
    if find == n:
        print(find)
        counter +=1

print(f"The {find} value is repeated {counter} times ")

4
4
The 4 value is repeated 2 time

# Q4.

In [21]:
# Q4. WAP which can remove a particular charater from a string
str = input("enter any string :")
term = input("what would you like to remove:")
result = " "
for i in str:
    if i != term:
        result = result + i
print(f" Your particular digit of: {term} :was deleted from the last of: {str} : and remaining result is: {result } :")

# Here is only del one character instead of words or snpit code

enter any string : majidhussainrindb
what would you like to remove: b

 Your particular digit of: b :was deleted from the last of: majidhussainrindb : and remaining result is:  majidhussainrind :

# Q5.

In [27]:
# WAP that can check wheiter a given string is palindrome or not : This is whose we can read it from backword or rightword expale ; maam , 12321 , malayalam 
str = input("Enter your string value to check whether it is palindrome or not :")
flag = True
for i in range(0,len(str)//2):
    if str[i] == str[len(str) - i -1]:
        flag = False
        print("Palindrome")
        break
    
if flag:
    print("Not a palindrome")

Enter your string value to check whether it is palindrome or not : majid

Not a palindrome

In [10]:
# this is in list comprehension code of palindrome

str1 = input("Enter your string value to check whether it is palindrome or not: ")

print("Palindrome" if str1 == str1[::-1] else "Not a palindrome")

Enter your string value to check whether it is palindrome or not:  mjkikj

Not a palindrome

In [16]:
str = input("Enter your string value to check whether it is palindrome or not :")
copy_str = str[::-1]
# copy_str.reverse()
if copy_str == str :
    print("palindrome")
else:
    print(" Non palindrome")

Enter your string value to check whether it is palindrome or not : maam

palindrome

# Q.

In [22]:
# Practice2: WAP to check if a list contain palindrome of elements.  Here palindrome mean if we write Ma'am and learn reverse and sort it will equal and
#if we write a list [1,2,3,4,3,2,1] it is a palindrome list 
list1=[1,2,3,3, 2, 1,]
copy_list1=list1.copy()
copy_list1.reverse()
if(copy_list1 == list1):
   print("palindrome")
else:
     print("Non palindrome")

# Here if we write a list [ 1,2,3,3,2,1] it tell us this is not palindrome but if this value written in double couts it will tell us it is a palindrome

palindrome

# Q6.

In [4]:
# Write a program to count the number of string without split function.
str = input("enter the string :")
l = []
temp = " "
for i in str:
    if i != " ":
        temp +=i
    else: 
        l.append(temp)
        temp = " "
l.append(temp)
print(l)

enter the string : majid hussain how are you

[' majid', ' hussain', ' how', ' are', ' you']

# 2nd method with split function:

In [8]:
str = input("Enter your string :")
data =str.split()
print(data)

Enter your string : how are you majid hussain ? What you doing ? why you live sad

['how', 'are', 'you', 'majid', 'hussain', '?', 'What', 'you', 'doing', '?', 'why', 'you', 'live', 'sad']

# Q7.

In [16]:
# Write a program to convert a string into title case without using of title() function :
str = input("Enter the string :")
l = []
for i in str.split():
    l.append(i[0].upper() + i[1: ].lower())
print(" ".join(l))

Enter the string : majid hussain rind baloch

Majid Hussain Rind Baloch

# 2nd method to solve with title function.

In [10]:
str = input("How are you guys ? as you know my name is majid hussain ")
data = str.title()
print(data)

How are you guys ? as you know my name is majid hussain  majid hussain how are you

Majid Hussain How Are You

# Q8.

In [24]:
# Write a program that convert an integer into string
number = int(input("Enter inter value"))
digits = "0123456789"
result = " "
while number != 0:
    result = digits[number%10] + result
    number = number//10
print(" This is an "result)
print(type(result))

Enter inter value 39393

39393
<class 'str'>

In [26]:
a = 1
print(id(a))
print(id(1))

140707083139512
140707083139512

In [14]:
print(dir(str))  # Lists all string methods

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']