# Basics Control flow:

### if | elif | else statements :
- They let you execute code conditionally. Python evaluates the condition; if itâ€™s True, it runs that block.

In [ ]:
# Simple syntax :
if condition:
    # code if condition true
elif another_condition:
    # code if second condition true
else:
    # code if none is true

### Examples:

In [5]:
# Simple if
marks = 95
if marks > 90:
    print("Grade A")

Grade A

In [6]:
# if-else
marks = 70
if marks >= 80:
    print("Pass with B")
else:
    print("Pass with C")

Pass with C

In [7]:
# if-elif-else
score = 50
if score >= 90:
    print("Excellent")
elif score >= 60:
    print("Good")
else:
    print("Needs Improvement")

Needs Improvement

In [8]:
# Nested if
name = "Majid Hussain"
age = 24
if age > 18:
    if name == "Majid Hussain":
        print("Majid is an adult")

Majid is an adult

### loops ( while , for):
- Loops repeat a block of code multiple times.
- **for loop:** iterate over a sequence (list, string, range).
- **while loop:** run while a condition is true.

In [ ]:
# simple syntax: 
for item in sequence:
    # code

while condition:
    # code

### Examples:

In [9]:
# for loop over list
friends = ['Amjad Hussain','Amir Hussain','Tahir Hussain', 'Noor Mustafa']
for friend in friends:
    print(friend)

Amjad Hussain
Amir Hussain
Tahir Hussain
Noor Mustafa

In [10]:
# for loop with range
for i in range(4):
    print("Loop", i)

Loop 0
Loop 1
Loop 2
Loop 3

In [11]:
# hile loop
count = 0
while count < 3:
    print("Count is", count)
    count += 1

Count is 0
Count is 1
Count is 2

In [12]:
# iterate string
for char in "Majid":
    print(char)

M
a
j
i
d

### loop control( break, continue, pass):
- **`break:`** stops the loop immediately.
- **`continue:`** skips to the next iteration.
- **`pass:`** does nothing (placeholder).

In [ ]:
# simple syntax:
for item in sequence:
    if condition:
        break   # exit loop
    if condition2:
        continue # skip rest, go next
    pass        # do nothing

### Examples:

In [13]:
# break
for friend in ['Majid','Amjad','Amir']:
    if friend == 'Amjad':
        break
    print(friend)

Majid

In [14]:

# continue
for i in range(5):
    if i == 2:   # skip value 2 
        continue
    print(i)

0
1
3
4

In [15]:
# pass
for name in ['Majid','Tahir','Noor']:
    if name == 'Tahir':
        pass  # do nothing here
    print(name)

Majid
Tahir
Noor

In [16]:
#  break in while
count = 0
while True:
    print("Count:", count)
    count += 1
    if count == 3:
        break

Count: 0
Count: 1
Count: 2

In [17]:
# Descend value using loops
num=5
while(num>=1):
    print(num)
    num-=1
print("Our loop are ended")

5
4
3
2
1
Our loop are ended

In [18]:
for i in range(1, 10):  
    if i * 2 >= 10:  
        continue  
    print(i)

1
2
3
4

# Advance Control flow for industry level developer:

In [19]:
# Nested loop: loop within loop for example i would like to print two dice
for i in range(1,4):
    for j in range(1,4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [20]:
for j in range(1, 5):
    for k in range(j, 5):
        print(j, k, end= " ")
    print()

1 1 1 2 1 3 1 4
2 2 2 3 2 4
3 3 3 4
4 4

In [21]:
for j in range(1, 5):
    for k in range(1, j+1):
        print("*" , end = " ")
    print()

*
* *
* * *
* * * *

In [22]:
for i in range(1,6):
    for j in range(1, 6-i):
        print("*", end=" ")
    print()

* * * *
* * *
* *
*

In [24]:
rows = int(input("Enter a number"))
for i in range(1,rows+1):
    for j in range(1, rows-i):
        print(j, end=" ")
    for k in range(i+1, 0, 1):
        print(k, end= " ")
    print()

Enter a number 8

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [25]:
# print the prime number enter number by user
lower = int(input("Enter lower value :"))
uppar = int(input("Enter uppar value :"))
for i in range(lower, uppar):
    for j in range(2, i):
        if i%j == 0:
            break
    else:
       print(i)

Enter lower value : 2
Enter uppar value : 8

2
3
5
7

In [26]:
# print the heroes name by traverse of the following list
heroes=["amir khan", "salman khan", "shah rukhan", "saifly khan", "feroz khan"]
new_list = heroes[::-1]
for hero in new_list:
    print(hero)

feroz khan
saifly khan
shah rukhan
salman khan
amir khan

In [27]:
# practice by self
data = [(1, "Alice"), (2, ""), (3 ,"Charlie")]  
for id, name in data:  
    # if not id:
    if not name:
        continue  
    print(id, name)

1 Alice
3 Charlie

In [28]:
# find the factorial number of N using while loop
n=int(input("enter numbers:"))
i=1
fact=1
while i<=n:
    fact*=i
    i+=1

print("factorial of n is=",fact)

enter numbers: 5

factorial of n is= 120

In [31]:
# 2nd method
import math
n = int(input('Enter numbers'))
print(f'Factorial of {n} = {math.factorial(n)}')

Enter numbers 5

Factorial of 5 = 120

In [30]:
# By using python built-in module which is enumerate it combines values(list, string, tuples etc..) with syntax
fruits = ['apple', 'banana', 'watermelon', 'pineapple', 'mango']
for index, fruit in enumerate(fruits , start = 1):
    print(f'{index}  {fruit}')

1  apple
2  banana
3  watermelon
4  pineapple
5  mango

In [1]:
response = ""
while response not in ["exit", "quit", "q"]:
    response = input("Enter 'quit' to stop: ")
    print(f"You entered: {response}")

Enter 'quit' to stop:  My name is Majid Hussain

You entered: My name is Majid Hussain

Enter 'quit' to stop:  I want to become a data scientist

You entered: I want to become a data scientist

Enter 'quit' to stop:  q

You entered: q

In [4]:
# Enter number from user and sum them 
num = int(input("Enter number you want for sum"))
total = 0
for i in range(num+1):
    total+=i

print(f'Sum the value from 0 to {num} = {total}')

Enter number you want for sum 6

Sum the value from 0 to 6 = 21

In [3]:
# 2nd method
n = int(input('Enter number'))
print(f'Sum the value from 0 to {n} = {sum(range(1,n+1))}')

Enter number 6

Sum the value from 0 to 6 = 21

### Q1.

In [ ]:
# the current population of a town is 10000. the growth of population in every year is 10% and what is the population of back 10 years 
curr_pop =10000
for i in range(10,0,-1):
    curr_pop= curr_pop/1.1
    print(f"{curr_pop: .2f}")

In [ ]:
# 2nd method
current_pop = 10000
growth_rate = 1.1
years_back = 10

pop = current_pop
for year in range(1, years_back+1):
    pop = pop/growth_rate
    print(f"Population {year} years ago {pop:.2f}:")

# Q2.

In [ ]:
# practice q3. find the sum of first Natural number
n = int(input("Enter a number: "))  
sum = 0  
for i in range(1, n+1):  
    print(i)
    sum += i  
print("Total sum:", sum)

### Q3.

In [ ]:
#  sequence series of 1/1! + 2/2! + 3/3! +..... upto user input 
n = int(input("Enter a number"))
fact =1
result=0
for i in range(1, n+1):
    fact = fact*i
    result = result + i/fact
    print(f"{result: .1f}")

In [ ]:
# python code more readable and efficient. 
#  sequence series of 1/1! + 2/2! + 3/3! +..... upto user input 
import math
try:
    n = int(input("Enter positive numbers"))
    if n<1:
        raise ValueError("Numbers must be positive")

except ValueError as e:
    print(f"Error: {e if str(e) else 'Please enter a validate integer'}")
    exit()

series_sum = sum(i/math.factorial(i) for i in range(1, n+1))
print(f"Cumulative sum of {n} is {series_sum:.2f}")

### Q4.

In [ ]:
# Practice4: WAP to check if a list contain palindrome of elements.  Here palindrome mean if we write Ma'am and learn reverse and sort it will equal and
#if we write a list [1,2,3,4,3,2,1] it is a palindrome list 
list1=[1,2,3,3, 2, 1,]
copy_list1=list1.copy()
copy_list1.reverse()
if(copy_list1 == list1):
   print("palindrome")
else:
     print("Non palindrome")

# Here if we write a list [ 1,2,3,3,2,1] it tell us this is not palindrome but if this value written in double couts it will tell us it is a palindrome

### Q5.

In [ ]:
# Q5. print the multiplication number of table n
n = int(input("Enter your number: "))  
for i in range(1, n+1):
    print(f"{n} * {i} = {n * i}")

### Q6.

In [ ]:
#Q6. search the x number from the list give your choice from the list to x like x=49
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 81
if x in nums:
    print(f'The value of {x} is found at index: {nums.index(x)}')
else:
    print('Sorry you enter wrong number! please try new')

In [ ]:
# 2nd method

nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 8
try:
    index = nums.index(x)
    print(f'The value of {x} found at index {index}')

except ValueError:
    print(f"The Value of {x} not found")

In [ ]:
# Write a program in which searching of your givin specific digits 
nums = (1, 4, 9, 16, 81,25, 36, 49, 64, 81, 100)  
x = 81
for i in range(len(nums)):
    if nums[i] == x:
        print(f"The value of {x} found at index {i}")
    else:
        print("Finding........!")

print("End of the body")

In [ ]:
import datetime
today = datetime.datetime.today()
print(today)