# What is list Data structure :
- A list is an ordered, mutable (changeable) collection of items. It can hold mixed data types.

## Examples:

In [5]:
""" 
Python lists are inherently heterogeneous, meaning they can store elements of different data types within the same list.

For example: a single Python list can contain integers, strings, floats, and even other lists or objects, all at the same time.
"""
my_list = [1, "hello", 3.14, True, [4, 5]]
my_list

[1, 'hello', 3.14, True, [4, 5]]

In [6]:
# creating empty list
list = []
print(list)

[]

In [7]:
# 1D list : also called tensor
list = [ 1 ,3 , 4, 5]
print(list)

[1, 3, 4, 5]

In [8]:
# 2D list known as Matrix
TwoD_list = [[ 1,2,3], [44 ,34]]
print(TwoD_list)

[[1, 2, 3], [44, 34]]

In [3]:
# 3D list
Three_D_list = [[[5,6],[1,2],[3,4]]]
print(Three_D_list)

[[[5, 6], [1, 2], [3, 4]]]

In [9]:
# Creating a 2D list  
matrix = [  
    [1, 2, 3],  # First row  
    [4, 5, 6],  # Second row  
    [7, 8, 9]   # Third row  
]  

# Accessing elements  
print(matrix[0][1])  # Output: 2 (Element in the first row, second column)  
print(matrix[2][1])

2
8

In [10]:
# Iterating through the 2D list  
for row in matrix:  
    for element in row:  
        print(element, end=' ')

1 2 3 4 5 6 7 8 9

# Accessing items from a list :

In [7]:
# index accessing 
list = [[1,2],[3,4]]
print(list[0][1])

2

In [8]:
list = [[[1,2],[3,4]],[[5,6],[7,8]]]
print(list[1][0][1])

# by using of idexing we can extracting just specific values but by using of slicing we can extracting according to our own decision
# Here i can access any digit by using of 3D list index like above performed operation to accessing of 6

6

In [11]:
list = [1 , 2, 3, 4, 5, 6]
print(list[ 1 : :2])

# Here by extracting of specific values

[2, 4, 6]

In [16]:
list = [1 , 2, 3, 4, 5, 6]
print(list[ -1 : -6 : -2])

# By extracting value negative slicing

[6, 4, 2]

# Adding items to a list :

In [18]:
# appending method : There are three methods to append value in list 
list = [1,2,3,4]
list.append(5)
print(list)

# This is first method to append only single argument

[1, 2, 3, 4, 5]

In [19]:
list.extend([6,"Majid", 8.8])
print(list)

# This is 2nd method to in extend() method we can append multi value . BUT IN APPEND WE CAN ONLY APPEND SIGNLE

[1, 2, 3, 4, 5, 6, 'Majid', 8.8]

In [20]:
list.insert(6 , 7)
print(list)

# Here by using of insert() function we can insert value in our own after index

[1, 2, 3, 4, 5, 6, 7, 'Majid', 8.8]

# Editing items in list :

In [25]:
list = [ 1, 2, 3, 4, 5]

# editing with index
list[-1] = 500
# print(list)

# editing with slicing
list[ 0: 3] = [100, 200, 300]
print(list)

[100, 200, 300, 4, 500]

# Deleting items from a list :
 - del
 - pop
- remove
 - clear

In [33]:
# Deleting list or specific digits from a list by using of del keyword 
list = [1,2,3,4,5]
print(list)

# deleting by index
del list[3]
print(list)

# deleting by slicing
del list[0 : 3]
print(list)

# Here we can delete many ways like negative slicing and many more ways . But here you must try by yourself

[1, 2, 3, 4, 5]
[1, 2, 3, 5]
[5]

In [35]:
# By using of remove function 
# The advantages of remove is that you just give those value you want to delete . Here is no need to give an index or slicing only one digit can delete

list = [1,2,3,4,5]
list.remove(4)
print(list)

[1, 2, 3, 5]

In [15]:
# By using of pop function we can delete bydefault last items of list and second method by giving of index

list = [1,2,3,4,5]
list.pop()
print(list)

# 2nd method
list.pop(2)
print(list)

# 3rd method is that you can find which is last item and which value is deleted item
list.pop(1)
print(list)

# It means it just tell us what value is deleted and show those value
list.pop(1)

[1, 2, 3, 4]
[1, 2, 4]
[1, 4]

4

In [44]:
# By using of clear function you can clear list after clearing your list is empty

list = [1,2,3,4,5]
list.clear()
print(list)

[]

# Operations on list
- Arithmatic   
- Membership
- loop

In [49]:
# Arithmatic operations ( + , * ) . list mostly performed on plus and astric operations:
list = [1,2,3,4]
list1 = [6,7,8,9]
print(list + list1)

[1, 2, 3, 4, 6, 7, 8, 9]

In [50]:
list = [1,2,3,4]
print(list*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [53]:
# Membership operations ( in , not in)
list = [1,2,3,4 , [5,6]]     # Here is not of 5 but it just another list
print( 4 in list)
print(5 in list)

True
False

In [1]:
list = [1,2,3,4]
print( 2 not in list)

False

In [16]:
# Loops in list 1D, 2D , 3D list
list1 = [1,2,3,4]
list2 = [[1,2,3,4], [5,6,7]]
list3 = [[[1,2],[3,4]], [[5,6,7]]]
for i in list1:
    print(i)

for i in list2: 
    print(i)

for i in list3:
    print(i)

1
2
3
4
[1, 2, 3, 4]
[5, 6, 7]
[[1, 2], [3, 4]]
[[5, 6, 7]]

# List functions :

In [61]:
# len/min/max/sorted
list = [1,2,3,4,5]
print(len(list))
print(min(list))
print(max(list))
print(sorted(list))
print(sorted(list, reverse = True))

5
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

# index() :

In [63]:
# index function
list = [1,2,4,5,6]
list.index(5)

# This will just give you an index that where is your given value

3

# count() :

In [64]:
# By using of count() function it will just shows you that how many times your given values come

list = [ 1,3,4,5,5]
list.count(5)

2

# reverse() :

In [73]:
# By using of reverse() function It will permanently reverses the original list and also sort not sorted  . But some entire function only change to create new memory and changing in new list

list = [ 1,3,4,5,5 , 2,1]
list.reverse()
print(list)

print(sorted(list, reverse = True))

[1, 2, 5, 5, 4, 3, 1]
[5, 5, 4, 3, 2, 1, 1]

In [71]:
list = [ 1,3,4,5,5,3,2]
print(sorted(list, reverse = True))  # This sort show descending values

[5, 5, 4, 3, 3, 2, 1]

# sort() :

In [8]:
# By using of sort() function it will parmanently sort the values in original list like as reverse

list = [ 1,3,4,5,5 , 2,1]
print(list) # original list  

print(sorted(list))    # sorted list
print(list)             # by checking that it was really not change

list.sort()       # sort list changing in original list
print(list)

[1, 3, 4, 5, 5, 2, 1]
[1, 1, 2, 3, 4, 5, 5]
[1, 3, 4, 5, 5, 2, 1]
[1, 1, 2, 3, 4, 5, 5]

In [7]:
list = [ 1,3,4,5,5 , 2,1]
list.reverse()
print(list)

[1, 2, 5, 5, 4, 3, 1]

# copy() :

In [10]:
list = [1,2,3,4,5,6]
print(id(list))
print(list)
list1 = list.copy()
print(id(list1))
print(list1)

2589018649984
[1, 2, 3, 4, 5, 6]
2589018668864
[1, 2, 3, 4, 5, 6]

# Advance level List comprehension
- list comprehension provides a concise way to create a list
- newlist = [expresion for item in iterable if condition == True]
- space efficent and more time efficient than loop
- require fewer lines of code

# Examples :

# Q1.

In [24]:
# Add 1 to 10 number in a list
# by using of simple for loop jaise hmm ne phele codes mein istamal karte a rhe hai
list = []
for i in range(1, 11): 
    list.append(i)
print(list)

# 2nd method with the help of comprehension list
list = [ i for i in range(1,11)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Q2.

In [26]:
# Scaller multiplication on vector
v = [2,3,4]
s = -3
x = []
for i in v:
    x.append(i*s)

print(x)

[-6, -9, -12]

In [27]:
# 2nd method of comprehension
v = [2,3,4]
s = -3
[s*i for i in v]

[-6, -9, -12]

# Q3.

In [41]:
names = [ "Amir khan" , "Amjad khan" , "Majid Khan" , "Yasir khan"]
empty_list = []
for name in names:
    if "A" in name:
        empty_list.append(name)
print(empty_list)

['Amir khan', 'Amjad khan']

In [42]:

list = [ name for name in names if "A" in name]
print(list)

['Amir khan', 'Amjad khan']

In [48]:
# 2nd method . This method of comprehension list this method save of time and a lot of lines code decreases
names = [ "Aqib" , "Aqeel" , "Majid" , "Amjad"]
list = [name for name in names if "A" in name]
print(list)

['Aqib', 'Aqeel', 'Amjad']

In [50]:
# by checking that check condition in list is optional if you want any specific from list then you would use . Otherwise if you not use it's not mandatory
names = [ "Aqib" , "Aqeel" , "Majid" , "Amjad"]
list = [ name for name in names]
print(list)

['Aqib', 'Aqeel', 'Majid', 'Amjad']

# Home Task :

In [52]:
# Convert the following list into a comprehension
animals = [ 'lion' , 'tiger' , 'rech' , 'monkey', 'elephent', 'frog']
filtered_animal = []
for animal in animals :
    filtered_animal.append(animal.title())
print(filtered_animal)

['Lion', 'Tiger', 'Rech', 'Monkey', 'Elephent', 'Frog']

In [55]:
# converted list
animals = [ 'lion' , 'tiger' , 'rech' , 'monkey', 'elephent', 'frog']
filter_animal = [ animal.title() for animal in animals ]
print(filter_animal)

['Lion', 'Tiger', 'Rech', 'Monkey', 'Elephent', 'Frog']

In [58]:
lists = [ list for list in range(1, 21) if list%2 != 0]
print(lists)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Nested list comprehension :

In [60]:
# Nested list comprehension

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
flat_list = [num for row in matrix for num in row]  
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Q4.

In [66]:
# print all the number divisible of 5 from 1 to 50
divisible_by_five = [ num for num in range(1 , 51) if num%5 == 0 ]
print(divisible_by_five )

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

# Q5.

In [78]:
# find languages which letter start from p
languages = [ "python" , "java" , "javascript" , "cpp" , "php" ]
data = [language for language in languages if language.startswith("p")]
print(data)

data = [language for language in languages if language.endswith("p")]
print(data)

['python', 'php']
['cpp', 'php']

# Q6.

In [77]:
# Nested if with list comprehension
# create new list from my_fruit and items and then check whether in new list existing list items exist and start with 'a' 

basket = [ 'apple' , 'cherry', ' guava' , ' banana']
my_fruits = [ 'giwwi' , 'cherry', 'apple','grapes' , 'kiwi' ]
new_fruit_list = [ fruit for fruit in my_fruits if fruit in basket  if fruit.startswith('a')]
print(new_fruit_list)

['apple']

# Q7.

In [4]:
# print the ( 3 * 3) matrix by using of list comprehension
[ [i*j for i in range(1 , 4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [5]:
[ i*j for i in range(1 , 4) for j in range(1,4)]

[1, 2, 3, 2, 4, 6, 3, 6, 9]

# Q8.

In [6]:
# Cartesian product
L1 = [ 1,2,3,4]
L2 = [ 3,4,5,6]
[[i*j for i in L1 ] for j in L2]

[[3, 6, 9, 12], [4, 8, 12, 16], [5, 10, 15, 20], [6, 12, 18, 24]]

# Two ways traverse a loop :
- itemwise
- idexwise

In [83]:
# itemwise loop
list = [ 1,2,3,4,5]
for i in list:
    print(i)

1
2
3
4
5

In [24]:
# indexwise loop 
list1 = [ 1,2,3,4,5]
for i in range(0, len(list1)):
    print(i)

# This is not off over list value it just index value that where is your value

0
1
2
3
4

# zip() function :

In [7]:
L1 = [1, 2, 3, 4]  
L2 = [4, 3, 2, 1]  

# Print paired elements from both lists  
print(set(zip(L1, L2)))  # Output: [(1, 4), (2, 3), (3, 2), (4, 1)]  

# Create a new list with sums of paired elements  
result = [i + j for i, j in zip(L1, L2)]  
print(result)  # Output: [5, 5, 5, 5]

{(2, 3), (3, 2), (4, 1), (1, 4)}
[5, 5, 5, 5]

In [1]:
list1=[1,2,3,3, 2, 1,]
list2 = list1[::-1]
if list1 == list2:
    print('palindrome')

else:
    print('Non palindrome')

palindrome

In [2]:
# Initialize a list to hold the results
results = []      # Loop through each possible roll of the first
for die1 in range(1,7):
    # Loop through each possible roll of the second die
    for die2 in range(1, 7):
        # Append the tuple (die1, die2) to results list 
        results.append((die1, die2))

# Print output in desired format
output = ', '.join(map(str, results))
print(f"Output: {{{output}}}")

Output: {(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)}

In [3]:
# Method 2. Concluding in advance
result = [(die1, die2) for die1 in range(1,7) for die2 in range(1,7)]
print(f"Output: {{{','.join(str(pair) for pair in result)}}}")

Output: {(1, 1),(1, 2),(1, 3),(1, 4),(1, 5),(1, 6),(2, 1),(2, 2),(2, 3),(2, 4),(2, 5),(2, 6),(3, 1),(3, 2),(3, 3),(3, 4),(3, 5),(3, 6),(4, 1),(4, 2),(4, 3),(4, 4),(4, 5),(4, 6),(5, 1),(5, 2),(5, 3),(5, 4),(5, 5),(5, 6),(6, 1),(6, 2),(6, 3),(6, 4),(6, 5),(6, 6)}

In [4]:
# method 3 : make possible combination of two dice
import itertools

result = list(itertools.product(range(1,7) , repeat = 2))

print(f"Output: {{{",".join(str(pair) for pair in result)}}}")

Output: {(1, 1),(1, 2),(1, 3),(1, 4),(1, 5),(1, 6),(2, 1),(2, 2),(2, 3),(2, 4),(2, 5),(2, 6),(3, 1),(3, 2),(3, 3),(3, 4),(3, 5),(3, 6),(4, 1),(4, 2),(4, 3),(4, 4),(4, 5),(4, 6),(5, 1),(5, 2),(5, 3),(5, 4),(5, 5),(5, 6),(6, 1),(6, 2),(6, 3),(6, 4),(6, 5),(6, 6)}