# What is tuple:
- A tuple in python is similar to list. The difference is that tuple can't be changed whereas list can be changed. Simply tuples are immutable where list are mutable
- ordered
- duplicate allows
- unchangeable

## Examples:

In [1]:
# empty tuple
tuple = ()
print(tuple)

()

In [2]:
# single tuple
tuple1 = (3,)      # mandatory with end comma of single tuple value
print(tuple1)

(3,)

In [7]:
# Tuples: A tuple is a built-in data types, like of list , but it lets us to create immutable sequence of values, it can store str, int, float etc values
tup=(1,3, "Majid", 'S')
print(type(tup) , tup)
print(len(tup))

#It is because of immutable so we try to change value  in output it says tuple does not support item assignment it mean we can't change
# tup[3]='A'

<class 'tuple'> (1, 3, 'Majid', 'S')
4

In [4]:
# When we use single method to print it is compulsry we put comma at the end 
tup=(2,)
print(type(tup),tup)

<class 'tuple'> (2,)

## Indexing and Slicing:

In [3]:
# Accessing values by using of indexing
tuple3 = ( 1,2,"Amir khan",True , False,  4.3 )
print(tuple3[2])
print(tuple3[-1])
print(tuple3[-6])

Amir khan
4.3
1

In [4]:
# Accessing values by using of slicing
tuple3 = ( 1,2,"Amir khan",True , False,  4.3 )
print(tuple3[ 1:4: 1])
print(tuple3[-5 :-1 : 2])
print(tuple3[ -1: -6: -2])
print(tuple3[ : : -1])

(2, 'Amir khan', True)
(2, True)
(4.3, True, 2)
(4.3, False, True, 'Amir khan', 2, 1)

In [2]:
#Slicing in tuple It is like of list slicing to learn more about go list slicing 
tup=(2,3,"Khan", 'A')
print(tup[2:4])
print(tup[:3])
print(tup[0:])

('Khan', 'A')
(2, 3, 'Khan')
(2, 3, 'Khan', 'A')

In [5]:
tuple4 = ( 1,2,3,(5,4,3))
print(tuple4[3][1])
# 2nd method
print(tuple4[-1][1])

4
4

## Editing tuple:

In [8]:
# By adding in tuples are not allowed
tuple4 = ( 1,2,3,(5,4,3))
tuple4.append(12)
print(tuple4)       # Again error that in tuple has no object or append mean it not changeable

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
# As we know in list we can delete specific value the help of del function but here we only del whole variable data not specific value by indexing or slcing
tuple4 = ( 1,2,3,(5,4,3))
print(tuple4)
del tuple4
# print(tuple4)   Here first tuple print but on second print it said tuple4 is not defined mean it was deleted successfully

(1, 2, 3, (5, 4, 3))

In [10]:
# the disadvantages of additing in list is that if I change in one list and access this one to another then it will automatically change in 2nd list
a = [1,2,3,4,5]
b = a 
a.append(6)
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [13]:
# but in tuple if I change in one list and access  this to another then it not be change to another list value
a = (1,2,3,4,5)
b = a
a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4, 5, 4)
(1, 2, 3, 4, 5)

In [12]:
# tuple unpacking syntax
a,b,c = (1,2,4)
print(a,c,b)

1 4 2

In [14]:
# swipe values syntax
a = (1,2)
b = (3,4)
a , b = b ,a 
print("The swaped value of a is :" ,a)

print("The swaped value of b is :", b)

The swaped value of a is : (3, 4)
The swaped value of b is : (1, 2)

In [15]:
# This is give an error in which that give variable is too less then given value
a ,b = ( 2,3,4)
print( a,b)

ValueError: too many values to unpack (expected 2)

In [16]:
# The solution of above cell error is that if you use like this 
a,b, * others = (1,3,4,45,5,4)
print(a,b)
print(others)

1 3
[4, 45, 5, 4]

In [1]:
# zip tuple:
a = (1,2,3,4)
b = (5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

# Tuple methods :
- it is because of immutable so we can't be changing . When we changing in tuple it create new tuple but in original desn't any changing
- remove/ pop / append/ reverse/ sort/ count/ index/ copy :  These operations will apply when inside tuples list exit
- And important that we use of append method to create empty tuple

In [9]:
# Method in tuple in which we use mehtod of remove, append, pop, index, sort in ascending and descending order

# Index in tuple tell us that in which index your value are placed that you give in input like asjad it tell us the value placed in 3 index
tup=(2,3,4,"Asjad", 'a')
tup.index("Asjad")

3

# Practice exercise questions :

In [2]:
# create a list enter movies name from user_input and store them in list
movies_list=[]
movies_list.append(input("Enter 1st moive:"))
movies_list.append(input("Enter 2nd moive:"))
movies_list.append(input("Enter 3rd moive:"))
print(movies_list)

Enter 1st moive: Tere Name
Enter 2nd moive: Sanam Tery Qasam
Enter 3rd moive: Shadi mein Zaroor ana

['Tere Name ', 'Sanam Tery Qasam', 'Shadi mein Zaroor ana']

In [6]:
# Practice2: WAP to check if a list contain palindrome of elements.  Here palindrome mean if we write Ma'am and learn reverse and sort it will equal and
#if we write a list [1,2,3,4,3,2,1] it is a palindrome list 
list1=[1,2,3,3, 2, 1,]
copy_list1=list1.copy()
copy_list1.reverse()
if(copy_list1 == list1):
   print("palindrome")
else:
     print("Non palindrome")

# Here if we write a list [ 1,2,3,3,2,1] it tell us this is not palindrome but if this value written in double couts it will tell us it is a palindrome

palindrome

In [4]:
# WAP to count the number of student with "A" grade of the tuple
grade= ( "A" , "A", "B" , "B" , "C" , "A" )
print(grade.count("A"))

# store the above values in a list and sort them from A to z there are two ways to solve with tuple to list
grading=sorted(grade)
print(grading)

# 2nd method of list 
grade= [ "A" , "A", "B" , "B" , "C" , "A" ]
grade.sort()
print(type(grade),grade)

3
['A', 'A', 'A', 'B', 'B', 'C']
<class 'list'> ['A', 'A', 'A', 'B', 'B', 'C']

In [12]:
# sum of tuples elements

def sum_tuple(numbers):
    return sum(numbers)

# Test
input_str = input("Enter numbers separated by spaces: ")
numbers = tuple(int(x) for x in input_str.split())
avg = sum(numbers)/len(numbers)
print(f'Sum numbers entered by user: {sum_tuple(numbers)}')
print(f'Average of numbers: {avg}')

Enter numbers separated by spaces:  1 2 3 4 5

Sum numbers entered by user: 15
Average of numbers: 3.0

In [8]:
# Enter by user and averages them
def sum_tup(numbers):
    return sum(numbers)/len(numbers)
value = input("Enter number with spaces: ")
numbers = tuple(int(x) for x in value.split())
print(f'Average of numbers: {sum_tup(numbers)}')

Enter number with spaces:  1 2 3 4 5 6

Average of numbers: 3.5

In [3]:
# Find element in tuple

def find_in_tuple(tup, value):
    for i in range(len(tup)):
        if tup[i] == value:
            return i
    return -1

# Test
input_str = input("Enter numbers separated by spaces: ")
value = int(input("Enter value to find: "))
numbers = tuple(int(x) for x in input_str.split())
print(find_in_tuple(numbers, value))

Enter numbers separated by spaces:  1 2 43 4 5 3 2 4 45 5 4 3
Enter value to find:  4

3

In [12]:
# Merge two tuples

def merge_tuple(tup1, tup2):
    return tup1+tup2
    
input1 = input("Enter First tuple values with separated: ")
input2 = input("Enter second tuple values with separated: ")

tup1 = tuple(int(x) for x in input1.split())
tup2 = tuple(int(x) for x in input2.split())

print(f"This is merged tuple: {merge_tuple(tup1, tup2)}")

Enter First tuple values with separated:  1 2 3 4 5
Enter second tuple values with separated:  6 7 8 9 0

This is merged tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [15]:
# Count accourances

def count_accourances(tup , value):
    return tup.count(value)

input_str = input("Enter numbers sperated by spaces: ")
value =  int(input("Enter value to count: "))

numbers = tuple(int(x) for x in input_str.split())
print(count_accourances(numbers, value ))

Enter numbers sperated by spaces:  1 2 3 3 4 5
Enter value to count:  3

2