# What is sets:
- A set is an unordered collection of items . Every set element is unique ( no duplicates allow) and must be immutable( a set element inside must be immutable) . 
A set by itself is mutable . Mean we can change with it
- set can also be used to perform mathematically operations like union, intersection, symmetric method etc
- unordered
- mutable
- no duplicates
- can't contain mutable data types

In [1]:
# empty set
# set = {}     basically the syntax of dictionary and set are same so bydefault interpreter understand that this is an dictionary syntax 
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [2]:
# 1D and 2D sets
set = {1,3,4}
print(set)

# 2D sets mean that can't contain mutable data types 
# set = {4,5,5,{2,44,}}         but this line give an error that unhashable type set

{1, 3, 4}

In [3]:
# we can add of tuple within set : like this
set = {1,2,4,5,(1,2,3)}
print(set)

{1, 2, 4, 5, (1, 2, 3)}

In [3]:
# sets are mutable but its elements are imutable suppose we find two ways of type sets
collection={}
print(type(collection))  # it is dictionary syntex
my_set= set()
print(type(my_set)) # Here is empty syntex of set

<class 'dict'>
<class 'set'>

In [17]:
# Set: Sets is the collection of unordered list. Each element in the set must be unique and mutable Not allowed to duplicate value: We can't access 
# values with indexing

set={ 2,3,3,3,2 , "Majid" , "Khan", 'amir', 'khan',4, 5}
print(set)
print(type(set))
print(len(set))

# # Another method that we find set are ordered or unordered 
set={ 2,3,3,2,3,4,"Amir", "Khan", }
print(set)
# print(set[4])    this means it is unordered so we can't access values with indexing

{2, 3, 4, 'Khan', 'Majid', 5, 'khan', 'amir'}
<class 'set'>
8
{2, 3, 4, 'Khan', 'Amir'}

In [2]:
# So it is because of unordered hence its same value but different methods are True
set1 = { 1,2,3,4,5}
set2 = {5,2,3,4,1}
set1 == set2
# print(set1[3])  this means its elements are immutable we can't access

True

# Sets methods & functions :
These methods and functions are mostly used in sets here is not object of append/add and update .
- add/ remove or discard/ update/ pop/ union/ intersection/ difference/ clear .
- We use of add for integer in existing sets and update for append values in empty sets and these are string and integer

In [19]:
# Sets Method in which we can update value in set . Imp. Sets are mutable but its elements are immutable its elem. can't change but we add and remove elem. from set
set={ 1,2,3}
set.add(4)
set.add(5)
set.add(5)
set.add(9)
print(set)

# Remove value from set through set method this means in set many values are same and we remove any value same values are remove automatically like in this set 
set.discard(12)     # By using of discard which means it is not return error if value is not exit instead of remove if value if not exit it return an eror
set.remove(3)
print(set)

{1, 2, 3, 4, 5, 9}
{1, 2, 4, 5, 9}

# Advance level practice:

In [6]:
# sets are mutable but we can't change its elements  like this example
set = { 1,2,34}
set.add(9)
set.update({4,3,"majid", "khan"})
print(set)
set[2] = 3           # set object does not support item assingment which means it is mutable but there is not indexing 
print(set)

{1, 2, 34, 3, 4, 9, 'majid', 'khan'}

TypeError: 'set' object does not support item assignment

In [9]:
# Here we can use clear method in set here clear means the length of set be empty
set={3,3,4,45,55,6,6,8}
set.clear()
print(len(set))
print(set)

0
set()

In [20]:
# Here we can use pop method in which random values are removed
set={"majid", "Hussain", "BSCS", "Computer", "Science"}
print(set.pop())
print(set.pop())
print(set)

Science
majid
{'Hussain', 'Computer', 'BSCS'}

In [5]:
"""
Use case:
Agar tumhare paas do logon ki skill sets hain aur tum dono ka combined skill set dekhna chahte ho:
Union method in which the sequence wise values are print doublicate values print only once
ombines both set values and return new values
"""
set1={1,2,3,4 , 3,2,22,1,2}
set2={3,4,5,6,7}
print(set1.union(set2))
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 22}
{1, 2, 3, 4, 22}
{3, 4, 5, 6, 7}

In [6]:
skills_A = {"Python", "SQL"}
skills_B = {"C++", "Python"}
all_skills = skills_A.union(skills_B)
print(all_skills)

{'SQL', 'C++', 'Python'}

In [23]:
# Intersection values in which comman values are print of combine set..    combines comman values and return new
set1={1,2,3,4}
set2={3,4,5,6,7}
print(set1.intersection(set2))
print(set1)
print(set2)

{3, 4}
{1, 2, 3, 4}
{3, 4, 5, 6, 7}

In [4]:
"""
Use case:
Common students jo 2 courses mein enrolled hai
"""
course_A = {"Ali", "Sara", "Ahmed"}
course_B = {"Ahmed", "Bilal", "Sara"}
common = course_A.intersection(course_B)
print(common)   # {'Ahmed', 'Sara'}

{'Ahmed', 'Sara'}

# Practice exercise questions :

In [25]:
# Practice questions 2  in which the comman subject print only once because sets not allow duplicates value
set={"python", "java", "c++", "python", "javascript", "java", "python", "java", "c++", "c"}
print(len(set))
print(set)

5
{'java', 'javascript', 'c', 'python', 'c++'}

In [47]:
# figure out the way in the the value 9 and 9.0 as separet store in set ... IMP... the set compiler understand equal of 9 and 9.0
# here are two ways to write this code First.

values={9, 9.0}
print(values)

values={9, "9.0"}
print(values)

# 2nd way
values={
    ("int", 9),
    ("float",9.0)
}
print(values)

{9}
{9, '9.0'}
{('int', 9), ('float', 9.0)}

In [48]:
# practice byself
set={24,5,5,6,6,43,2,1}
set.add(3)
set.add(4)
set.remove(5)
set.remove(6)
print(set)

{1, 2, 3, 4, 24, 43}

In [1]:
# Creating a set
my_set = {1, 2, 3, 4, 5}
print("Original Set:", my_set)

# Adding elements
my_set.add(6)
print("After Adding 6:", my_set)

# Removing elements
my_set.remove(3)
print("After Removing 3:", my_set)

# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print("Union:", set1.union(set2))
print("Intersection:", set1.intersection(set2))
print("Difference:", set1.difference(set2))

Original Set: {1, 2, 3, 4, 5}
After Adding 6: {1, 2, 3, 4, 5, 6}
After Removing 3: {1, 2, 4, 5, 6}
Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}

In [65]:
frozen = frozenset([1, 2, 3, 4])  
print(frozen)  # Output: frozenset({1, 2, 3, 4})  

# frozen.add(5)  # This will raise AttributeError as frozensets cannot be modified

frozenset({1, 2, 3, 4})

In [3]:
# create set form input
input_str = input("Enter words separed by spaces")
words = set(input_str.split())
print(words)

Enter words separed by spaces majid hussain rind

{'majid', 'hussain', 'rind'}

In [4]:
# add and remove items
fruits = {'banana', 'apple', 'mango'}
fruits.add('grapes')
fruits.discard('watermelon')        # because watermelon is not exit so discard can't give an error
print(fruits)

{'banana', 'grapes', 'mango', 'apple'}

In [28]:
import datetime
today = datetime.datetime.today()
print(today)

2025-08-28 12:21:42.742472