# Function:
- A `function` is a block of reusable code that performs a specific task.
- You define it once and call it many times.

## Types of Functions

- **Built-in functions:** Already provided by Python (len(), sum(), print() etc).
- **User-defined functions:** Created by the user manually.
- **Lambda (anonymous) functions:** Short one-line functions.

## Types of Arguments :
- Default Arguments:
- Positional Arguments:
- Keyword Arguments:s :

## Examples:

In [2]:
# Simple function without parameters
def greet():
    """This function prints a greeting."""
    print("Hello Majid Hussain!")
    
greet()

Hello Majid Hussain!

In [3]:
# Function with parameters
def greet_friend(name):
    """Greet a friend by name."""
    print(f"Hello {name}, welcome to Python!")
    
greet_friend("Amjad Hussain")

Hello Amjad Hussain, welcome to Python!

In [4]:
# Function with return value
def add_numbers(a,b):
    """Return the sum of two numbers."""
    return a + b

result = add_numbers(5,10)
print("Sum:", result)

Sum: 15

In [5]:
#  Default parameter
def introduce(name="Majid", course="Machine Learning"):
    """Introduce yourself with default parameters."""
    print(f"My name is {name} and I study {course}.")
    
introduce()
introduce("Amir Hussain","Deep Learning")

My name is Majid and I study Machine Learning.
My name is Amir Hussain and I study Deep Learning.

In [6]:
def greet(name):
    return f"Hello, {name}"
greet("Majid")

'Hello, Majid'

In [28]:

def student_name(name):
    print(f" Hello , {name}")

student = input("Enter Student name ")
student_name(student)

Enter Student name  amir

 Hello , amir

In [3]:
name = input('enter your name')
student_name(name)

enter your name khan

 Hello , khan

In [4]:
# using a parametrized function to print the sum of two variables  
def calc_sum(a, b):    
    return a+b 
calc_sum(8, 5)

13

In [54]:
calc_sum(13, 7)

20

In [7]:
# Calculate the sum of three numbers and print their average
def calc_avg(a,b,c):
    sum=a+b+c
    avg=sum/3
    print(f'{avg:.2f}')
calc_avg(2,5,4)

3.67

In [9]:
# default parameters in which the value print without any passing parameters.
def calc_prod(a=3, b=4):
    return a*b
calc_prod()

12

In [7]:
calc_prod(23 , 34)

782

In [9]:
# WAF to print the length of list using length function
countries=["Iran", "Pakistan", "Lebnan", "Serya", "yaman", "Palestine",4]
list=[2,3,5,65,3,2,65,99,32]
def print_len(items):
        return len(items)
print(print_len(countries))
print(print_len(list))

7
9

In [31]:
# WAF to print the list in a single line using funtion 
count=[1,3,4,5,6,7,8,8,2]
countries=["Iran", "Pakistan", "Lebnan", "Serya", "yaman", "Palestine",4]

# 1st method
def single_line_list(list):
    for item in list:
        print(item , end = " ")
single_line_list(count)
single_line_list(countries)

# 2nd method
# def print_list(list):
#     for item in list:
#         print(item, end=" ")
#     print()
# print_list(count)
# print_list(countries)

1 3 4 5 6 7 8 8 2 Iran Pakistan Lebnan Serya yaman Palestine 4

In [22]:
# here accessing of above code by using of for loop and calling functions:
for i in count:
    print(i, end = " ")
print()

for country in countries:
    print(country, end = " ")
print()

print_list(count)
print_list(countries)

1 3 4 5 6 7 8 8 2
Iran Pakistan Lebnan Serya yaman Palestine 4
1 3 4 5 6 7 8 8 2
Iran Pakistan Lebnan Serya yaman Palestine 4

In [1]:
# WAF to find the factorial of n where n is parameter_
import time
def calc_fact(num):
    fact=1
    for i in range(1,num+1):
        fact*=i
    print(f"the factorial of {n} = {fact}")
start = time.time()
n=int(input("Enter number:"))
calc_fact(n)
end = time.time()
print(f"The execution time of custom function is {end - start}")

Enter number: 7

the factorial of 7 = 5040
The execution time of custom function is 2.1021814346313477

In [30]:
fact_num(n)

120

In [32]:
# Instead using above custom factorial you can use module like math class factorial
import math
import time
n = int(input("Enter number :"))
start = time.time()
print(f'The factorial of {n} = {math.factorial(n)}')
end = time.time()
print(f'the time excution is {end - start}')

Enter number : 6

The factorial of 6 = 720
the time excution is 0.0035152435302734375

In [33]:
# convert the money of usd dollar into pkr by using function method

def converter(usd_val):
    pkr_val=usd_val *278
    print(usd_val,"USD=", pkr_val,"PKR")

n = int(input('enter money you convert :'))
converter(n)

enter money you convert : 5

5 USD= 1390 PKR

In [12]:
def converter(pkr):
    usd = pkr/278
    print(f"{pkr} pkr in US dollar is {usd:.2f}")

convert = int(input("Enter PKR to convert in US dollar: "))
converter(convert)

Enter PKR to convert in US dollar:  343434

343434 pkr in US dollar is 1235.37

In [16]:
# instead of above I can write this shrot and readable code
converter = lambda usd : usd*278
usd = int(input("Enter money to convert in USD: "))
print(f'{usd} USD = {converter(usd)} pkr')

Enter money to convert in USD:  12

12 USD = 3336 pkr

In [19]:
# reusable of above code

n = int(input('enter money you convert'))
converter(n)

enter money you convert 433

120374

In [3]:
usd_input = float(input("Enter amount in USD: "))  
usd_to_pkr_rate = 278  # Exchange rate  
pkr_value = 0  
usd_value = 0  

while usd_value <= usd_input:  
    pkr_value = usd_value * usd_to_pkr_rate  
    print(f"{usd_value} USD = {pkr_value} PKR")  
    usd_value += 1  # Increment USD value by 1 for the next iteration

Enter amount in USD:  5

0 USD = 0 PKR
1 USD = 278 PKR
2 USD = 556 PKR
3 USD = 834 PKR
4 USD = 1112 PKR
5 USD = 1390 PKR

In [22]:
# WAP to input from user that if number is even return string even and if it is odd return string odd
def is_even(num):
    if num%2 == 0:
        print('Even')
    else:
        print('Odd')

num = int(input("Enter nunber"))
is_even(num)

Enter nunber 232

Even

In [24]:
def multiply(a , b=3):
    prod = a*b
    print(prod)
multiply(4)

12

In [25]:
multiply(4,5)

20

##  `*args` and `**kwargs` in Python

### 1. Definition of `*args`
- `*args` allows a function to accept **any number of positional arguments**.
- Inside the function, `args` is treated as a **tuple** of all extra positional arguments.
- Use it when you don’t know beforehand how many positional arguments you’ll need.

### 2. Definition of `**kwargs`
- `**kwargs` allows a function to accept **any number of keyword arguments**.
- Inside the function, `kwargs` is treated as a **dictionary** of all extra keyword arguments.
- Use it when you don’t know beforehand how many named (key=value) arguments you’ll need.

### 3. Why It’s Useful
- It makes your functions **flexible and reusable**.
- Commonly used in data science libraries (like pandas, matplotlib, seaborn) to pass extra configuration parameters without rewriting the function signature.

In [24]:
def show_args(*args):
    for arg in args:
        print(arg , end= " ")
    print()
    
def show_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} : {value} ")

def show_para(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} : {value}")
show_args(3,4,4)
# this kwargs depend upon me that i want i can define data as a argument
show_kwargs(name="khan", age = 14 , roll_no = 2 , school_name = "High School")
show_para(name = "Awais", age = 4)

3 4 4
name : khan
age : 14
roll_no : 2
school_name : High School
name : Awais
age : 4

In [49]:
show_para(name = "majid" , age = 19)

name : majid
age : 19

In [5]:
def  greet(name = "Guest"):
    return f'Hello, {name}'
print(greet())
print(greet('majid'))

Hello, Guest
Hello, majid

In [8]:
# veriable length parameter
def sum_num(*args):
    return sum(args)
print(sum_num(1,2,3,4,5))

15

In [45]:
# length of kwargs
def print_detail(**kwargs):
    for key, value in kwargs.items():
        print(f'{key} : {value}')
print_detail(name = 'majid', age=21, city = 'Bwp')

name : majid
age : 21
city : Bwp

##  Global vs Local Variables in Python

### 1. Global Variable
- A **global variable** is defined **outside of any function**.
- It can be accessed anywhere in the file — both inside and outside functions (read-only by default inside functions).
- To **modify** a global variable inside a function, you must explicitly declare it with the `global` keyword.

### 2. Local Variable
- A **local variable** is defined **inside a function**.
- It only exists while the function is running.
- It cannot be accessed directly outside the function.

### 3. Why This Matters
- Using local variables keeps data isolated to a function, which makes code cleaner.
- Global variables are useful for constants or shared configuration, but overusing them can make debugging harder.

In [9]:
# Global variable
x = 10  # global variable

def show_global():
    print("Inside function, x =", x)  # can read global variable

show_global()
print("Outside function, x =", x)

Inside function, x = 10
Outside function, x = 10

In [12]:
#Local variable
def my_function():
    y = 5  # local variable
    print("Inside function, y =", y)

my_function()

# This will raise an error if uncommented because y is local:
# print(y)

Inside function, y = 5

In [13]:
#  Modifying a global variable inside a function
z = 100  # global

def change_global():
    global z  # tell Python to use the global variable
    z = z + 50

change_global()
print("z after modification =", z)

z after modification = 150

### Summary
- **Global variable**: declared outside functions; accessible everywhere.  
- **Local variable**: declared inside functions; accessible only there.  
- Use `global` keyword to modify a global variable inside a function.

In [29]:
# local and global variable
x = 10
def modify():
    y = 12
    return f'inside value {y}'
print(modify())
print(f'outside value {x}') # if I write y in place of x then it raise error that y is not define

inside value 12
outside value 10

In [42]:
# filter evens numbers:
def filter_evens(numbers):
    return [num for num in numbers if num%2 == 0]
filter_evens([1,2,3,4,45,5,5,6,543,2,4,5,6])

[2, 4, 6, 2, 4, 6]

## Advance Functions:

In [9]:
# word frequency for nlp
from collections import Counter
text = ['cat dog mouse lion dog cat Elephent']
clean_value = text[0].lower().split()
count = Counter(clean_value)
count

Counter({'cat': 2, 'dog': 2, 'mouse': 1, 'lion': 1, 'elephent': 1})

In [8]:
# palindrome values
def is_palindrome(text):
    if text == text[::-1]:
        
        return 'Palindrome'
    return 'Not palindrome'

user_input = input("Enter any words")
is_palindrome(user_input)

Enter any words civic

'Palindrome'

In [17]:
# count vowels
def count_vow(text):
    vowels = 'aeiou'
    return sum(1 for txt in text.lower() if txt in vowels)
user_input = input("Enter any words for checking vowels count")
count_vow(user_input)

Enter any words for checking vowels count what's happend

3

In [47]:
# count vowels from parageraph
def count_vowels(text):
    vowels = 'aeiou'
    return sum(1 for txt in text.lower() if txt in vowels)

input = input("Enter paragraph to count of vowels :")
count_vowels(input)

Enter paragraph to count of vowels : Hi my name is majid hussain and i'm from rajanpur what's your name and what are you doing here can I help you If you need any help from me without any reason you can ask me and hopefully I feel free i can help yu

69

## Advance Functions Recursion:

In [1]:
# WAP in which n prints backwords by using recursion
def show(n):
    if(n==0):
        return 0
    print(n)
    show(n-1)


n=int(input("Enter  num:"))
show(n)

Enter  num: 5

5
4
3
2
1

In [2]:
# using recursion in case of factorial 
def fact(n):
    if(n==1 or n==0):
        return 1
    return n*fact(n-1)

n=int(input("Enter Num for Fact:"))
print(f"Factorial of {n} = {fact(n)}")

Enter Num for Fact: 5

Factorial of 5 = 120

In [3]:
# wap to print the sum of natural number of n using recursion
def sum(n):
    if(n==0):         #base case which is compulsry for recursion
        return 0
    return sum(n-1)+n 

n=int(input("Enter number:"))
sum(n)

Enter number: 6

21

In [4]:
# wap to print the all elements of list using recursion 
def print_list(list, idx=0):
    if(idx==len(list)):               # it is base case for recursion
        return
    print(list[idx])
    print_list(list, idx+1)
list=["Majid", "Amjad", "Amir","Yasir","Ayan"]
print_list(list)

Majid
Amjad
Amir
Yasir
Ayan

## Nested Functions:

In [14]:
def g(x):
    def h(x):
        x = x+1
        print('in f(x): x = ' , x)  
    x = x + 1
    print('in g(x): x = ' , x)
    h(x)
    return x
x = 4 
z = g(x)
print('in main program the scope of x ' , x)
print('in main program the scope of z ' , z)

in g(x): x =  5
in f(x): x =  6
in main program the scope of x  4
in main program the scope of z  5

In [15]:
# We can pass of function inside an other function

def greet(name):  
    def get_greeting():  
        return "Hello"  
    
    greeting = get_greeting()  
    return f"{greeting}, {name}!"  

# Usage  
print(greet("Majid"))

Hello, Majid!

In [17]:
def outer_function(x):  
    def inner_function(y):  
        return x + y  # accessing x from the outer function  
    
    return inner_function(5)  

# Usage  
print(outer_function(10))

15

In [18]:
def multiply_by(n):  
    def multiplier(x):  
        return x * n  
    return multiplier  

double = multiply_by(2)  
print(double(5))

10

In [19]:
# Functions can be stored in Data Structures :
def add(x, y):  
    return x + y  

def subtract(x, y):  
    return x - y  

operations = {'add': add, 'subtract': subtract}  

print(operations['add'](10,5))   
print(operations['subtract'](10,5))

15
5

In [20]:
# Calling of function inside of function :
def f():
    def x(a,b):
        return a+b
    return x

val = f()(4,5)
print(val)

9

##  Lambda Function in Python

### 1. Definition
A **lambda function** is a small, anonymous function defined without a name using the `lambda` keyword.

Syntax:
```python
lambda arguments: expression

## When to Use:
- When you need a simple function for a short period of time.
- To pass a function as an argument to higher-order functions (like map(), filter(), apply() in pandas).
- To keep code concise and readable.

## Why It’s Important in Data Science:
- Very handy for quick transformations on data frames and lists.
- Commonly used with pandas .`apply(), map(), and filter()` for custom operations without defining a full def function.

In [22]:
# Basic lambda function
square = lambda x: x ** 2
print(square(5))

25

In [24]:
# Lambda with multiple arguments
add = lambda a, b: a + b
print(add(3, 7))

10

In [25]:
# Using lambda with map()
numbers = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, numbers))
print(squares)

[1, 4, 9, 16]

In [26]:
# Using lambda in pandas apply()
import pandas as pd
df = pd.DataFrame({'Age': [20, 30, 40]})
df['Age_plus_5'] = df['Age'].apply(lambda x: x + 5)
df

   Age  Age_plus_5
0   20          25
1   30          35
2   40          45

In [27]:
data = [{'name': 'majid', 'age': 45}, {'name': 'amir', 'age': 30}, {'name': 'amir', 'age': 25}]  
sort_by_age = sorted(data, key = lambda x:x['age'])
print(sort_by_age)

[{'name': 'amir', 'age': 25}, {'name': 'amir', 'age': 30}, {'name': 'majid', 'age': 45}]

In [28]:
l = [2,4,5,8,11]
data = list(map(lambda x: x%2==0 , l))
print(data)

data = list(map(lambda x:'even' if x%2==0 else 'odd' , l))
print(data)

data = list(filter(lambda x: x%2==0 , l))
print(data)

[True, True, False, True, False]
['even', 'even', 'odd', 'even', 'odd']
[2, 4, 8]

In [29]:
# lambda function to check the given number is even or odd :
my_list = [12, 32, 432, 2132, 42,44, 43423, 423]
is_even = list(map(lambda x: 'even' if x%2 == 0 else 'odd',  my_list))
print(is_even)

['even', 'even', 'even', 'even', 'even', 'even', 'odd', 'odd']

In [30]:
words = ["ml", "ai", "python"]
uppercased = list(map(lambda s: s.upper(), words))
print(uppercased)

['ML', 'AI', 'PYTHON']

In [31]:
import datetime
today = datetime.datetime.today()
print(today)

2025-09-20 11:54:13.080544